node-red-data/.flows.json.backup
[
    {
        "id": "f5dcf66848698924",
        "type": "tab",
        "label": "Slave 1",
        "disabled": false,
        "info": "Slave 1 acquisition flow\r\n",
        "env": []
    },
    {
        "id": "50e63d0e668d4211",
        "type": "modbus-client",
        "name": "",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "",
        "commandDelay": "0",
        "clientTimeout": 2000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "83a2b8a5d3234b56",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f23c53b47dfbe38f",
        "type": "modbus-read",
        "z": "f5dcf66848698924",
        "name": "read led",
        "topic": "test",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "50e63d0e668d4211",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "aab1ab143f087181",
                "5485fa1f20663c3c"
            ],
            []
        ]
    },
    {
        "id": "2ad946f4d14e39ec",
        "type": "debug",
        "z": "f5dcf66848698924",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "53fddc862f5adfa1",
        "type": "modbus-write",
        "z": "f5dcf66848698924",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "50e63d0e668d4211",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 760,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1bdfa9370ee78d36",
        "type": "inject",
        "z": "f5dcf66848698924",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 550,
        "y": 620,
        "wires": [
            [
                "53fddc862f5adfa1"
            ]
        ]
    },
    {
        "id": "faa7e5e218a9e8b2",
        "type": "inject",
        "z": "f5dcf66848698924",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "53fddc862f5adfa1"
            ]
        ]
    },
    {
        "id": "8a144efb08d501cf",
        "type": "modbus-read",
        "z": "f5dcf66848698924",
        "name": "read thresh + firmware",
        "topic": "test",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "1000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "50e63d0e668d4211",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "split-data"
            ],
            []
        ]
    },
    {
        "id": "cbd250399b286336",
        "type": "modbus-read",
        "z": "f5dcf66848698924",
        "name": "read MQ2",
        "topic": "test",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "50e63d0e668d4211",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "2ad946f4d14e39ec",
                "e005c98ba830dd0d"
            ],
            []
        ]
    },
    {
        "id": "e9c01a2ac3b3ded1",
        "type": "debug",
        "z": "f5dcf66848698924",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "aab1ab143f087181",
        "type": "debug",
        "z": "f5dcf66848698924",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "e005c98ba830dd0d",
        "type": "mqtt out",
        "z": "f5dcf66848698924",
        "name": "Pub MQ2",
        "topic": "submodule1/sensor/mq2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "83a2b8a5d3234b56",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "d980c32801930462",
        "type": "mqtt out",
        "z": "f5dcf66848698924",
        "name": "Pub Device Info",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "83a2b8a5d3234b56",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "5485fa1f20663c3c",
        "type": "mqtt out",
        "z": "f5dcf66848698924",
        "name": "Pub LED",
        "topic": "submodule1/actuator/led",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "83a2b8a5d3234b56",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "split-data",
        "type": "function",
        "z": "f5dcf66848698924",
        "name": "Split Array to Topics",
        "func": "// Parse the input if it's a string\nlet data = msg.payload;\nif (typeof data === 'string') {\n    try {\n        data = JSON.parse(data);\n    } catch(e) {\n        node.error(\"Failed to parse input data: \" + e.message);\n        return null;\n    }\n}\n\n// Check if the data is an array with at least 2 elements\nif (!Array.isArray(data) || data.length < 2) {\n    node.error(\"Input is not a valid array with at least 2 elements\");\n    return null;\n}\n\n// Create messages for each topic\nreturn [\n    { topic: \"submodule1/info/threshold\", payload: [data[0]] },\n    { topic: \"submodule1/info/firmware\", payload: [data[1]] }\n];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "d980c32801930462",
                "e9c01a2ac3b3ded1"
            ],
            [
                "e9c01a2ac3b3ded1",
                "d980c32801930462"
            ]
        ]
    }
]